<main>
  <div class="sidebar">
    <div class="sidebar-sticky">
      <img src="assets/IMG_2317.png" alt="A beautiful face." id="profilePicture"/>
      <h1>Matthew Groholski</h1>
      <h2>About Me</h2>
      <p>Hi, I am Matthew! I recently recieved a B.S. in computer science at Arizona State University. I am a Chicago native but have spent much of my young adult years in Arizona. I'm a software engineer with ambitions of attending grad school in the near future (M.S. in CS). This is an ongoing project where I plan to write about my interests: Computer Science, Sports, Mathematics, Books, Startups, etc.</p>
      <div class="socials">
        <a href="https://www.instagram.com/mattgroholski/"><img src="assets/Instagram_Glyph_White.svg" alt="Instagram Logo."/></a>
        <a href="https://x.com/Matt_Groholski"><img src="assets/Twitter.svg" alt="Twitter Logo."/></a>
        <a href="https://github.com/mgroholski"><img src="assets/github-mark.svg" alt="Github Logo."/></a>
        <a href="mailto:mgrohols@asu.edu"><img src="assets/email.svg" alt="Email Symbol."/></a>
      </div>
      <footer>
        <p>&copy; {{ currentYear }}. All rights resereved.</p>
      </footer>
    </div>
  </div>
  <div class="blogContent">
    <h1>Blog</h1>
    <h2>In Progress!</h2>
  </div>
</main>